### Building a Robust Comprehensive Search Engine: Exploring keyword search, semantic search and various indexing techniques

In [5]:
!kaggle datasets download -d stackoverflow/stacksample

Dataset URL: https://www.kaggle.com/datasets/stackoverflow/stacksample
License(s): other
Downloading stacksample.zip to /home/elevnthkuria/Desktop/E11/ML
100%|██████████████████████████████████████| 1.11G/1.11G [09:58<00:00, 1.59MB/s]
100%|██████████████████████████████████████| 1.11G/1.11G [09:58<00:00, 1.99MB/s]

In [6]:
import pandas as pd
#Loading CSV file, some rows
questions=pd.read_csv("stacksample/Questions.csv", nrows=20000)
questions

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...
...,...,...,...,...,...,...,...
19995,1114470,82266.0,2009-07-11T19:37:06Z,NaN,0,"Trim all chars off file name after first ""_""",<p>I'd like to trim these purchase order file ...
19996,1114540,2288585.0,2009-07-11T20:16:06Z,NaN,7,Xcode question: Quickly jump to a particular s...,<p>What is the quickest way to jump to a parti...
19997,1114550,131128.0,2009-07-11T20:20:11Z,NaN,3,Serializing a generic collection with XMLSeria...,<p>Why won't XMLSerializer process my generic ...
19998,1114580,87271.0,2009-07-11T20:35:46Z,NaN,1,Using Yahoo Fire Eagle on Grails / Java,<p>Has anyone implemented the Yahoo Fire Eagle...
19999,1114600,63472.0,2009-07-11T20:41:50Z,NaN,1,How to share code & xib files between iPhone a...,<p>I'm in the process of creating an app. I'd...

In [7]:
import pandas as pd

questions_file = 'stacksample/Questions.csv'
answers_file = 'stacksample/Answers.csv'
subset_size = 200000

# Read the questions.csv file into a DataFrame
questions_df = pd.read_csv(questions_file,encoding='latin-1')

# Read the answers.csv file into a DataFrame
answers_df = pd.read_csv(answers_file,encoding='latin-1')

# Set 'Id' as the index for both DataFrames
questions_df.set_index('Id', inplace=True)
answers_df.set_index('Id', inplace=True)

# Merge the questions and answers DataFrames on the index
merged_df = questions_df.merge(answers_df, left_on='Id', right_on='ParentId',suffixes=('_questions', '_answers'))

In [13]:
answers_df

,OwnerUserId,CreationDate,ParentId,Score,Body
Id,,,,,
92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
199,50.0,2008-08-01T19:36:46Z,180,1,<p>I've read somewhere the human eye can't dis...
269,91.0,2008-08-01T23:49:57Z,260,4,"<p>Yes, I thought about that, but I soon figur..."
307,49.0,2008-08-02T01:49:46Z,260,28,"<p><a href=""http://www.codeproject.com/Article..."
...,...,...,...,...,...
40143247,333403.0,2016-10-19T23:42:35Z,40143190,0,"<p>Tanks to <a href=""http://stackoverflow.com/..."
40143322,642706.0,2016-10-19T23:50:35Z,40137110,1,<h1>tl;dr</h1>\n\n<pre><code>ZonedDateTime.par...
40143336,2239781.0,2016-10-19T23:52:08Z,40141860,0,<p>I came up with a very dirty workaround. Bef...
40143349,6934347.0,2016-10-19T23:54:02Z,40077010,0,<p>I solved my own problem defining the follow...
40143389,4464432.0,2016-10-19T23:58:58Z,40142910,0,<p>Try add <code>retrun false</code> in the <c...

In [8]:
# Select the desired row
row_index = 0
row = merged_df.iloc[row_index]

# Print each column individually
for column_name, value in row.items():
    print(f"{column_name}: {value}")

OwnerUserId_questions: 26.0
CreationDate_questions: 2008-08-01T13:57:07Z
ClosedDate: nan
Score_questions: 26
Title: SQLStatement.execute() - multiple queries in one statement
Body_questions: <p>I've written a database generation script in <a href="http://en.wikipedia.org/wiki/SQL">SQL</a> and want to execute it in my <a href="http://en.wikipedia.org/wiki/Adobe_Integrated_Runtime">Adobe AIR</a> application:</p>

<pre><code>Create Table tRole (
      roleID integer Primary Key
      ,roleName varchar(40)
);
Create Table tFile (
    fileID integer Primary Key
    ,fileName varchar(50)
    ,fileDescription varchar(500)
    ,thumbnailID integer
    ,fileFormatID integer
    ,categoryID integer
    ,isFavorite boolean
    ,dateAdded date
    ,globalAccessCount integer
    ,lastAccessTime date
    ,downloadComplete boolean
    ,isNew boolean
    ,isSpotlight boolean
    ,duration varchar(30)
);
Create Table tCategory (
    categoryID integer Primary Key
    ,categoryName varchar(50)
    ,parent_categoryID integer
);
...
</code></pre>

<p>I execute this in Adobe AIR using the following methods:</p>

<pre><code>public static function RunSqlFromFile(fileName:String):void {
    var file:File = File.applicationDirectory.resolvePath(fileName);
    var stream:FileStream = new FileStream();
    stream.open(file, FileMode.READ)
    var strSql:String = stream.readUTFBytes(stream.bytesAvailable);
    NonQuery(strSql);
}

public static function NonQuery(strSQL:String):void
{
    var sqlConnection:SQLConnection = new SQLConnection();
    sqlConnection.open(File.applicationStorageDirectory.resolvePath(DBPATH);
    var sqlStatement:SQLStatement = new SQLStatement();
    sqlStatement.text = strSQL;
    sqlStatement.sqlConnection = sqlConnection;
    try
    {
        sqlStatement.execute();
    }
    catch (error:SQLError)
    {
        Alert.show(error.toString());
    }
}
</code></pre>

<p>No errors are generated, however only <code>tRole</code> exists. It seems that it only looks at the first query (up to the semicolon- if I remove it, the query fails). Is there a way to call multiple queries in one statement?</p>

OwnerUserId_answers: 26.0
CreationDate_answers: 2008-08-01T16:09:47Z
ParentId: 80
Score_answers: 12
Body_answers: <p>I wound up using this. It is a kind of a hack, but it actually works pretty well. The only thing is you have to be very careful with your semicolons. : D</p>

<pre><code>var strSql:String = stream.readUTFBytes(stream.bytesAvailable);
var i:Number = 0;
var strSqlSplit:Array = strSql.split(";");
for (i = 0; i &lt; strSqlSplit.length; i++){
    NonQuery(strSqlSplit[i].toString());
}
</code></pre>

In [22]:
# SHuffle the merged Df
shuffled_df = merged_df.sample(frac=1, random_state=42)

# Select a subset of records with matching IDs
subset_df = shuffled_df.head(20000)

# Select columns for questions and answers subsets
questions_columns = ['ParentId', 'OwnerUserId_questions', 'CreationDate_questions', 'ClosedDate', 'Score_questions', 'Title', 'Body_questions']
answers_columns = ['OwnerUserId_answers', 'CreationDate_answers', 'ParentId', 'Score_answers', 'Body_answers']

# Rename columns for questions and answers subsets
questions_subset_df = subset_df[questions_columns]
answers_subset_df = subset_df[answers_columns]

# Save the subsets to separate CSV files
questions_subset_df.to_csv('questions_subset.csv', index=False)
answers_subset_df.to_csv('answers_subset.csv', index=False)

print(f"Subset of 200000 records created successfully.")
print("Saved as questions_subset.csv and answers_subset.csv")

Subset of 200000 records created successfully.
Saved as questions_subset.csv and answers_subset.csv

In [23]:
questions_subset_df.head()

,ParentId,OwnerUserId_questions,CreationDate_questions,ClosedDate,Score_questions,Title,Body_questions
626503,9823930,1031496.0,2012-03-22T14:08:35Z,NaN,0,ajax jquery refresh the data from the database,"<p>I have this code,how can I make it ajax jqu..."
373345,5528680,206446.0,2011-04-03T09:17:31Z,NaN,0,Change a property on object declared with Obje...,<p>What is the problem?</p>\n\n<pre><code>var ...
1919142,37701910,5084424.0,2016-06-08T12:00:46Z,NaN,0,send catch block to $error variable,<p>I have a script which tests several things ...
1415090,25830870,3544661.0,2014-09-14T07:01:09Z,NaN,0,Angular JS + Java Servlet Route Issue,<p>I have an application built using Angular J...
1209899,21307320,3173809.0,2014-01-23T11:50:23Z,NaN,0,put HTML inside the PHP code,<p>sorry if my question is so silly!</p>\n\n<p...

In [19]:
answers_subset_df.head()

,OwnerUserId_answers,CreationDate_answers,ParentId,Score_answers,Body_answers
626503,158448.0,2012-03-22T14:10:56Z,9823930,0,<p>Client-side javascript cannot query from da...
373345,6782.0,2011-04-03T09:34:11Z,5528680,3,<p>The problem is that you've misspelled <code...
1919142,1163423.0,2016-06-08T12:24:31Z,37701910,0,<p>If you invoke the <code>Get-Member</code> c...
1415090,69362.0,2014-09-14T09:48:04Z,25830870,1,<p>The url fragment #/b is not sent to the ser...
1209899,3150271.0,2014-01-23T11:52:44Z,21307320,1,<p>Just close the php tag before the HTML then...

In [24]:
import nmslib
import numpy as np
import pandas as pd

questions=pd.read_csv("questions_subset.csv", nrows=20000)

# Introduce a new column 'doc_id' with the index values
questions['doc_id'] = questions.index
questions.head(2)

,ParentId,OwnerUserId_questions,CreationDate_questions,ClosedDate,Score_questions,Title,Body_questions,doc_id
0,9823930,1031496.0,2012-03-22T14:08:35Z,NaN,0,ajax jquery refresh the data from the database,"<p>I have this code,how can I make it ajax jqu...",0
1,5528680,206446.0,2011-04-03T09:17:31Z,NaN,0,Change a property on object declared with Obje...,<p>What is the problem?</p>\n\n<pre><code>var ...,1

In [3]:
import tensorflow as tf
import tensorflow_hub as hub
import json
import time
import urllib.request

# URL of the model
module_url = "https://tfhub.dev/google/universal-sentence-encoder/4"

# load the model from the url
model = hub.load(module_url)

# Test the loaded model with an example sentence
example_sentence = "Hello, how are you?"
embeddings = model([example_sentence])

# Print the embeddings
print(embeddings)

tf.Tensor(
[[-0.04013539 -0.03451602  0.03594453  0.02110519  0.04223776  0.00398312
   0.03834373 -0.07509069  0.04921342  0.05303323  0.03061782  0.02758633
  -0.0499874  -0.01689848  0.01923006 -0.09432735 -0.04407799 -0.02782175
  -0.03338115 -0.07541031  0.05081261 -0.00487287 -0.00037794  0.04796124
  -0.07488967 -0.00223032  0.03964338  0.0515409  -0.02937703  0.01732505
   0.07716099  0.04546993  0.06742025 -0.02646055 -0.03523841 -0.01077773
   0.00529039 -0.0338716   0.01129853  0.0079164   0.02769551  0.01473371
   0.0302582   0.04500718  0.04716435  0.01086947 -0.08699262  0.01153348
   0.02717905  0.02392452 -0.04382734  0.10366235  0.00987731 -0.02171182
  -0.00291511  0.02630952  0.00116497 -0.03644443 -0.01930446  0.06424161
  -0.00520983 -0.03538213  0.05921355  0.05702462  0.06181033 -0.00319766
   0.05798697 -0.01022707  0.04539067 -0.01958314  0.00187834  0.04065592
   0.045837   -0.05450011 -0.09276661  0.01427356 -0.06636962  0.02715099
   0.01824962 -0.09106445 -0.07823335  0.02681287 -0.07846584 -0.05617003
  -0.00249265 -0.07539529 -0.03744923  0.02261248 -0.04048067  0.04839452
  -0.08735784  0.07923627 -0.01392311 -0.02812575 -0.03493307 -0.0510986
  -0.04818536  0.09319679 -0.06850044 -0.02073707  0.03569204  0.01277817
   0.07603754  0.00606458  0.03407971  0.0072693   0.04305441  0.08579352
  -0.03018811  0.03139963  0.01421623  0.04558269 -0.02411945 -0.07798362
   0.06760405  0.03361088  0.01673313 -0.00790398  0.01406285  0.03152793
   0.04913153  0.00397947 -0.03478832  0.02233976 -0.03684148 -0.0407395
   0.03343992 -0.0251259   0.05234342  0.06391463  0.06114413 -0.0093582
   0.05682738  0.08597576 -0.05785077 -0.0208833  -0.06444446 -0.05445366
   0.05272529  0.01504614  0.03868935  0.03863038  0.07710841 -0.01088069
   0.02788656 -0.06069677  0.03053793 -0.02282055 -0.03153622  0.05471361
   0.03795874  0.05363058  0.02117535  0.04328627 -0.05381754 -0.00691695
  -0.00206336  0.07591959 -0.02983704 -0.02130396 -0.02417976 -0.02417376
  -0.06246344 -0.03409367  0.07124601  0.00726477 -0.0429107  -0.00497416
   0.03182973 -0.06760281  0.07566161  0.03681609  0.00847649  0.05346854
  -0.07139554 -0.0480001  -0.02733809 -0.02731666  0.01104359 -0.02728577
   0.06204341 -0.04715193  0.0353423  -0.04015511 -0.03684966 -0.06969785
   0.04068513 -0.05124082  0.01979261 -0.02036908  0.0309881  -0.0046116
   0.08184048  0.00511052 -0.00571091  0.06594155  0.01498743  0.018192
   0.02511726  0.00943655 -0.02039732 -0.0425282   0.04007804  0.06223049
  -0.05067378  0.04146799  0.04828554  0.05788886  0.01170391 -0.05794494
   0.07358393  0.00402369  0.06579927  0.05871978 -0.03073403  0.02826983
  -0.01583409 -0.09840756 -0.01898552  0.04085229 -0.04553147  0.05006389
  -0.03562881  0.01489361 -0.05415526  0.03334454  0.03550052  0.07477004
   0.01792941  0.03797233  0.01602618  0.04580212 -0.02162329  0.10285
   0.00247758  0.0283093   0.01355374  0.03630092  0.01555022  0.07679617
  -0.06939761 -0.04684682 -0.01034281 -0.05217354 -0.02119937  0.08945131
  -0.00364139 -0.05123053  0.09927984 -0.02153594  0.04427965 -0.00249123
   0.01096414  0.0887163   0.09282808 -0.0684742   0.0354214   0.02408844
   0.03225258 -0.02572571  0.00211039  0.05079878 -0.0639606   0.06558503
   0.00301023  0.00972881 -0.0025308  -0.09692847  0.0227753  -0.05426176
   0.01966617  0.09968457  0.02516196  0.07057608  0.0451512   0.03056699
  -0.01981785  0.06936748  0.02786013  0.05448822 -0.02590352  0.00919621
   0.0179716  -0.04505444 -0.00427237  0.00804808  0.02262713 -0.03780517
  -0.05420274  0.0494803   0.04361732  0.00867124 -0.04184223  0.01737484
   0.02095756  0.0496636   0.02269653 -0.01580967  0.01714655  0.05620794
   0.03290497  0.00623075 -0.028495   -0.0727478   0.00223414  0.0552752
   0.05335541  0.012464    0.04597247  0.03125635 -0.00850559 -0.00573197
  -0.04447836 -0.00957018  0.03140054  0.07367357  0.0668802   0.01689985
  -0.00592099  0.00175547 -0.06607855  0.06256698  0.01502756 -0.00125806
   0.06936183  0.07628554  0.03342806  0.03946034  0.03350899  0.00959419
   0.05342012 -0.03233993  0.03904451 -0.00394483 -0.05394373 -0.07054962
   0.04962547  0.05671918  0.03070043 -0.0279862  -0.00901075 -0.05110837
  -0.05343642  0.04372905  0.0244522  -0.00333519 -0.01226366 -0.02629444
   0.02796731  0.02081112 -0.03867353 -0.0681548  -0.03763399 -0.06357209
  -0.01658829 -0.01437644 -0.09295551 -0.00738995 -0.01436596  0.00602649
  -0.00803767 -0.03018675  0.03382502  0.05005651  0.02751625  0.05982215
  -0.03143315  0.01188991 -0.02046477 -0.04250479  0.03091344 -0.04458437
   0.03240833  0.04675135  0.01483771  0.10327785  0.02559116 -0.02612309
   0.08467423 -0.03532582  0.00295673 -0.01112745  0.04579734  0.03551577
  -0.04938301  0.0224896  -0.05667373  0.05206551  0.0138886   0.03534558
   0.0752334  -0.0064343   0.04256712  0.02262103  0.00394641 -0.03401607
   0.03161832 -0.01365484  0.01373517  0.08283994 -0.03408566  0.01788515
  -0.02895741  0.00423677  0.01821769 -0.00220098 -0.04059649 -0.05579148
   0.05179919 -0.03586698 -0.08514123  0.02054355  0.02420374  0.01903382
  -0.04407968  0.02829521  0.03961343  0.0717677  -0.04603297  0.05790659
  -0.04190651  0.03748441 -0.05623366 -0.03718818  0.02242269  0.05501416
   0.01863884  0.04747748 -0.03850405  0.05778981 -0.05326659  0.03195665
  -0.0644461   0.02942302 -0.00039388 -0.05737324  0.08175778  0.03506767
  -0.00755667  0.0339835   0.05253819  0.04987222  0.07944135  0.03368144
   0.00997357  0.00584961  0.01583285 -0.02995533 -0.04208327 -0.01357964
   0.04984508 -0.04595727 -0.02833302 -0.05182411 -0.05369727 -0.0201605
  -0.00879798 -0.06845055 -0.01154122 -0.02592333  0.04598789 -0.06374852
  -0.02307724 -0.09634697  0.0068162  -0.02291947 -0.01667621  0.00621021
   0.01217694  0.05028117  0.06637414  0.04006921  0.05901402 -0.00370844
  -0.05440841 -0.04415669 -0.02997889  0.02882447 -0.02147252  0.06634616
  -0.07140284 -0.00171563  0.03195112  0.00436799  0.01596651  0.08035596
   0.01185834 -0.04471297  0.02798536 -0.00556138 -0.05309258 -0.07841565
  -0.06028983 -0.01662485 -0.05049251 -0.01765005 -0.02666291  0.00011235
   0.07509974  0.03286907 -0.01655229 -0.01111062 -0.07563876  0.01212096
   0.02087708  0.04965029  0.02090956 -0.02060783 -0.01913485 -0.01770567
  -0.02030313  0.00751263]], shape=(1, 512), dtype=float32)

In [25]:
# URL of the model
module_url = "https://tfhub.dev/google/universal-sentence-encoder/4"

# Download the model
loaded_model = hub.load(module_url)

#new column title_body
questions['title_body'] = questions['Title'] + '' + questions['Body_questions']

# Applying the model on tilte_body column and store the result in new column
questions['Embeddings'] = questions['title_body'].apply(lambda x: loaded_model([x])[0].numpy())

# Convert embedding column to a numpy array
embeddings = np.array(questions['Embeddings'].tolist())

In [30]:
import nmslib
import numpy as np
import pandas as pd

# Create an nmslib index
index = nmslib.init(method='hnsw', space='cosinesimil')

# Add data points to the index. we computed embeddings in above block.
index.addDataPointBatch(embeddings)

# Build the index
index.createIndex({'post': 2},print_progress=True)

#test search query
a = 'How to install pip. i have a python virtual env and i want to install pip in it.'

#a function that takes in text query and returns the USE embedding for it
#This embedding will later be used for search
def query2emb_func(text):
  #example_sentence = "Hello, how are you?"
  embeddings = loaded_model([text])
  return embeddings.numpy()

#embed the query
#it will return a <class 'tensorflow.python.framework.ops.EagerTensor'>
b = query2emb_func(a)
print(type(b))

#covert the tensor into a numpy array
#it will return <class 'numpy.ndarray'> type
b = np.array(b)
#print(type(b))

#check the shape
#it will be (1, 512) shape vector
b.shape

0%   10   20   30   40   50   60   70   80   90   100%
|----|----|----|----|----|----|----|----|----|----|
***************************************************

0%   10   20   30   40   50   60   70   80   90   100%
|----|----|----|----|----|----|----|----|----|----|
********************************************************

<class 'numpy.ndarray'>

(1, 512)

In [31]:
#now we will search our embedding "b" in the index
#K nearest neighbour is used here
#we are finding the indices and distances of 6 nearest neigbours in our index
idxs, dists = index.knnQuery(b, k=6)

#now we will take above indices to print the data points from our questions DF
# we are returning Title, doc_id and Parent_id from the DF
for idx, dist in zip(idxs, dists):
  Title = questions.iloc[idx].Title
  doc_id = questions.iloc[idx].doc_id
  ParentId = questions.iloc[idx].ParentId
  #url = ref_df.iloc[idx].url
  print(f'cosine dist:{dist:.4f}')
  print(doc_id)
  print(Title)
  print(ParentId)
  print(f'\n---------------\n')

cosine dist:0.2590
8901
Pip install for both pythons
16129720

---------------

cosine dist:0.2825
19355
Pip is already installed: but I am getting no module named lxml
22356580

---------------

cosine dist:0.2936
13476
How to install Python MySQLdb module using pip?
25865270

---------------

cosine dist:0.3058
13323
pip install python-novaclient is failing due to netifaces.c
27914930

---------------

cosine dist:0.3522
14115
Python - no module named setuptools
14088270

---------------

cosine dist:0.3536
4125
Wrong pip in conda env
32329260

---------------

In [53]:
#save index

index.saveIndex('/searchengine/index.nmslib')


#load index
index = nmslib.init(method='hnsw', space='cosinesimil')
index.loadIndex('/searchengine/index.nmslib')

ERROR:nmslib:Check failed: output Cannot open file '/searchengine/index.nmslib' for writing

RuntimeError: Check failed: Cannot open file '/searchengine/index.nmslib' for writing

In [55]:
from whoosh.fields import Schema, TEXT, ID
from whoosh.index import create_in
from whoosh.qparser import QueryParser
from whoosh.index import open_dir
from whoosh.qparser import QueryParser
from whoosh.scoring import TF_IDF
from whoosh import scoring

# Defining index schema
schema = Schema(doc_id=ID(stored=True), Title=TEXT(stored=True), title_body=TEXT(stored=True))

# Creating index directory
index_dir = "index_directory_1"

# Creating the index
ix = create_in(index_dir, schema)

# Open the index writer
writer = ix.writer()

# Iterate over the DataFrame and add documents to the index
# we have indexed title, title_body and doc_id
for index, row in questions.iterrows():
    writer.add_document(doc_id=str(row['doc_id']), Title = row['Title'] ,title_body=row['title_body'])

# Commit and close the writer
writer.commit()

In [56]:
# keyword search on Title. 
# scoring will be tf-idf.

from whoosh.qparser import QueryParser

# create the query parser
qp = QueryParser("Title", schema=schema)

# parse the query
query_sentence = "How to install pip"
query = qp.parse(query_sentence)

# create a searcher object
searcher_tfidf = ix.searcher(weighting=scoring.TF_IDF())

# search documents and store them
# we are returing top 7 documents
results_tfidf = searcher_tfidf.search(query, limit=7, scored=True)

# print the documents
for hit in results_tfidf:
    print(hit["doc_id"])
    print('\n')
    print(hit["Title"])
    print('\n')
    print('------------------\n')

13476


How to install Python MySQLdb module using pip?


------------------